@font-face {
    font-family: 'KarioDuplexVar';
    src: URL('fonts/Kario39C3VarWEB-Roman.woff') format('woff');
    src: URL('fonts/Kario39C3VarWEB-Roman.woff2') format('woff2');
}

:root {
    --color-dark: #141414;
    --color-lighter: #242424;
    --color-neutral: #faf5f5;
    --color-primary: #00ff00;
    --color-secondary: #9673ff;
    --color-additional-01: #ff3719;
    --color-additional-02: #66f2ff;

    --color-primary-tint-01: #009900;
    --color-primary-tint-02: #00be00;
    --color-primary-tint-03: #00d300;
    --color-primary-tint-04: #00ea00;
    --color-primary-tint-05: #a3ff90;
    --color-primary-tint-06: #ccffbe;
    --color-primary-tint-07: #ebffe5;

    --color-secondary-tint-01: #4d2eed;
    --color-secondary-tint-02: #5c33f4;
    --color-secondary-tint-03: #7952fe;
    --color-secondary-tint-04: #b69dfe;
    --color-secondary-tint-05: #d4c4fe;
    --color-secondary-tint-06: #efe7ff;
}

@keyframes font_weight_wave {
    from {
        font-weight: 10;
    } to {
        font-weight: 100;
    }
}

p, label, a {
    font-weight: 40;
    font-variation-settings: "opsz" 140;
}

body {
    background: var(--color-dark);
    color: white;
    font-family: 'KarioDuplexVar', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: var(--color-secondary);
    color: var(--color-dark);
    padding: 3px;
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}


input {
    background: #151B23;
    border: #3D444D 1px solid;
    transition: border 0.1s ease-in;
    color: white;
    padding: 5px;
}

input.field {
    margin-bottom: 20px;
}

input.submit {
    margin-top: 20px;
}

input:focus {
    outline: none;
    border: var(--color-secondary) 1px solid;
}

label {
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

select {
    background: #151B23;
    color: white;
    border: #3D444D 1px solid;
    padding: 5px;
}

textarea {
    background: #151B23;
    color: white;
    border: #3D444D 1px solid;
    padding: 5px;
    transition: border 0.1s ease-in;
}

textarea:focus {
    outline: none;
    border: var(--color-secondary) 1px solid;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border: #3C434C 1px solid;
    margin: 10px;
    padding: 20px;
    min-width: 300px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-fact {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.profile-fact object {
    margin-right: 5px;
}

.profile-fact p {
    margin: 0;
}

.question-answer {
    margin: 15px 0;
}

.question-answer .answer {
    color: #cbc9c9;
}

.question-answer p {
    margin: 2px 0px;
}

.poke {
    margin-top: 20px;
}

.poke p {
    margin: 0;
}

.link {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    align-content: start;
    padding: 0;
}

.link:hover {
    border: none !important;
    cursor: pointer;
}

.actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.actions a {
    margin-right: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column a {
    margin-bottom: 10px;
}

.message {
    margin: 20px 0;
}

.message-sender {
    margin: 0;
}

.message-content {
    margin: 0;
    color: #cbc9c9;
}

.new-message, .new-poke {
    color: var(--color-additional-01);
}

.help-text {
    margin: 0 10px 10px;
}