<!DOCTYPE html>
<title>{% block title %}{% endblock %} - uwu.dating</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block extras %}{% endblock %}
<div class="wrapper">
    <div>
        <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <p class="help-text">help, questions? -> <a href="tel:5898">5898</a></p>
    </div>
</div>