{% extends 'base.html' %}

{% block extras %}
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        const socket = io();
        socket.emit("join", {{ g.user.id }});

        socket.on("join", function (data) {
            if (data.id !== {{ g.user.id }}) {
                const userCardTemplate = `
    <div class="user-card" id="user-${data.id}">
        <div class="side-by-side">
            <h3 class="user-name">${data.name}</h3>
            <p class="user-score">${data.score * 100} %</p>
        </div>
        <a href="/user/profile/${data.id}">uwu \></a>
    </div>
`;

                let found = false
                document.querySelectorAll(".user-card").forEach(card => {
                    if (card.id.split("-")[1] === `${data.id}`) {
                        found = true;
                    }
                })
                if (found) {
                    return
                }

                const userCard = document.createElement("div")
                userCard.innerHTML = userCardTemplate;

                document.getElementById("users").appendChild(userCard);
                document.getElementById('nobody').style.display = 'none';
            }
        });

        socket.on("leave", function (data) {
            document.getElementById(`user-${data.id}`).remove();
            if (document.getElementsByClassName('user-card').length === 0) {
                document.getElementById('nobody').style.display = 'block';
            }
        })

        socket.on("poke", function () {
            const poke = document.createElement("p")
            poke.className = 'new-poke'
            poke.textContent = 'new poke uwu';
            document.getElementById('new-things').appendChild(poke);
        })

        socket.on("message", function () {
            const message = document.createElement("p")
            message.className = 'new-message';
            message.textContent = 'new message, who is this';
            document.getElementById('new-things').appendChild(message);
        })
    </script>
{% endblock %}

{% block title %}Lobby{% endblock %}

{% block content %}
    <h1>Welcome to The Lobby</h1>
    <div class="actions">
        <a href="/user/me">my profile (pokes, messages) ></a>
    </div>
    <div class="new-things" id="new-things">
    </div>
    <div id="users">
    </div>
    <h3 id="nobody">nobody here qwq</h3>
{% endblock %}