{% extends 'base.html' %}

{% block title %}Question {{ g.question.number }}{% endblock %}

{% block content %}
    <h1>Hii {{ g.user.name }}, lets answers some questions</h1>
    <form method="post">
        <label for="answer">{{ g.question.question }}</label>
        {% if g.question.type == 'choice' %}
            <select id="answer" name="answer">
            {% for answer in g.answer_choices[g.question.number] %}
                <option value="{{ answer.answer }}">{{ answer.answer }}</option>
            {% endfor %}
            </select>
        {% else %}
            <input class="field" name="answer" id="answer" type="{{ g.question.type }}" required>
        {% endif %}
        <input class="submit" type="submit" value="{{ g.question.submit_label }}">
    </form>
{% endblock %}