{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>what is this???</h1>
    <p>this place shows your other beings that found this site.</p>
    <p>this site was not really tested extensively (owo) and can contain bugs.</p>
    <p>all content is saved in cleartext on my server. use at your own risk.</p>
    <p>assume everything you enter is public and will be deleted after the GPN.</p>
    <a href="{{ url_for('user.create') }}">i did not read that ></a>
{% endblock %}