{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>what is this???</h1>
    <p>this place shows your other beings that found this site.</p>
    <p>this site was <strong>not really tested</strong> extensively (owo) and can contain bugs.</p>
    <p>all content is saved in cleartext on my server. use at your own risk.</p>
    <p><strong>assume everything you enter is public</strong> and will be deleted after the 39C3.</p>
    <a href="{{ url_for('user.create') }}">i read it but i don't care ></a>
{% endblock %}